@page
@model WebApplicationASP.Pages.Operation.CRUDOperationModel
@{
}
<p>perform crud operation here</p>
<div>
    <a class="btn-primary btn-sm" href="/Books/CreateBook">Create New Book</a>
</div>
<br />
<div>
    <a class="btn-primary btn-sm" href="/Books/IndexPage">Display Book Details</a>
</div>