@page
@model WebApplicationASP.Pages.Books.CreateBookModel
@{
}

<p>Create a New Book </p>

@if (Model.message.Length > 0)
{
    <div id="error">
        <br><div class="alert-warning">

            @Model.message
        </div><br />
        <button type="button" class="btn-close" data-dismiss="alert" onclick="
            document.getElementById('error').remove();
               ">
        </button>
    </div>
}

<form method="post">
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label"> Book Code </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" value="" required name="BookCode" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label"> Book Title </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" value="" required name="BookTitle" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label"> Author </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" value="" required name="Author" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label"> Category </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" value="" required name="Category" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Publication </label>
        <div class="col-sm-4">
            <input type="text" class="form-control" value="" required name="Publication" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label"> Publication Date </label>
        <div class="col-sm-4">
            <input type="date" class="form-control" value="" required name="PublicDate" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label"> Book Edition </label>
        <div class="col-sm-4">
            <input type="number" class="form-control" value="" required name="BookEdition" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-2 col-form-label"> Price </label>
        <div class="col-sm-4">
            <input type="number" class="form-control" value="" max="2000" required name="Price" />
        </div>
    </div>
    <div>
        <button type="submit" class="btn-primary"> Submit </button>
    </div>


</form>

<div>
    <a class="btn-primary" href="\"> Cancel </a>
</div>